<!doctype html>
<html>
    <head>
        <title>{{ title }} - Microblog</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/visualization.css')}}">
       
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="{{ url_for('static', filename='js/monitor_temp.js') }}"></script>

       // <script>
       //     $(document).ready(function(){
       //         // call the d3 visualization function, passing the data variable as a parameter
       //         monitor_temp(data);
       //         });
       // </script>
    </head>
    <body>
        <header>
            <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <h1>Blog</h1>
        </header>
        <main>
            <div id="visualization"></div>
        </main>
        <footer>
            <small>Example Text - © 2023</small>
        </footer>
    </body>
</html>

